*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    font-family: 'Bitter', serif;
    */
    font-family: 'Times New Roman', Times, serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile {
    display: none;
}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom:1px solid rgb(200, 200, 200);
}

.logo {
    color: #16507b;
}

.logo h2 {
    font-weight: normal;
    font-size: 22px;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu a {
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    /*transition: 0.5s;*/
}

.menu a:hover {
    color: #007bff;
}

.menu .btn-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover {
    background-color: #0064cf;
    color: white;
}

/*
Section main
*/

section.main {
    background-image: url('img/background_2.jpg');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_cta {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main_cta h2 {
    color: #16507b;
    font-size: 40px;
}

.main_cta p {
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

.main_cta button {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.differentials {
    display: flex;
    flex-wrap: wrap;
}

.differential-single {
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}

.differential-single i {
    color: #124265;
    font-size: 23px;
}

.differential-single h2 {
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.differential-single p {
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

section.about {
    padding: 80px 0;
}

.call-about {
    width: 100%;
    text-align: center;
}

.call-about h2 {
    color: #124265;
    text-transform: uppercase;
}

.call-about p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.content-about {
    display: flex;
    flex-wrap: wrap;
}

.content-about p{
    width: 48%;
    margin-right: 2%;
    color: #444444;
}

.content-about span {
    display: inline-block;
    width: 100%;    
    margin-top: 10px;
}

.content-about i {
    color: #007bff;
}

section.achievements {
    background-color: #f8fbfe;
    padding: 20px 0;
}

.single-achievement {
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}

.single-achievement h2{
    font-size: 30px;
}

.single-achievement img {
    max-width: 100%;
    filter: grayscale(100%);
    transform: scale(1,1);
    transition: 0.5s;
}

.single-achievement img:hover {
    transform: scale(1.1,1.1);
    filter: grayscale(0);
}


.menu-items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid blue;
    display: none;
}

.menu-items.show {
    display: block;

}

.menu-items.hidde {
    display: none;
}

.menu-items a {
    display: block;
    text-decoration: none;
    color: blue;
}

section.about-entrepreneur {
    padding: 40px 0;
}

.about-entrepreneur-img {
    width: 50%;
}

.about-entrepreneur-img img {
    max-width: 100%;
}

.about-entrepreneur-content {
    width: 50%;
    padding: 0 50px;
}

.about-entrepreneur-content h2 {
    color: #124265;
    margin-bottom: 20px;
}

.about-entrepreneur-content p {
    color: #444;
    font-size: 14px;
    margin-bottom: 14px;
}

section.depositions {
    padding: 40px 0;
}

section.depositions .depositions-call {
    text-align: center;
}

.depositions-call h2 {
    color: #124265;
    text-transform: uppercase;
}

.depositions-call p {
    color: #ccc;
    margin: 10px 0;
    font-size: 14px;
}

.carousel {
    display: flex;
}

.single-carousel {
    width: 31%;
    margin-right: 2%;
    text-align: center;
}

.single-carousel-box { 
    padding: 20px;
    background-color: #f3f9fd;
    border-radius: 10px;
}

.single-carousel-box p {
    font-style: italic;
    color: #4b4b4b;
    font-size: 14px;
}

.single-carousel-box i {
    color: #c9e3f5;
    font-size: 19px;
    padding: 0 8px;
}

.single-carousel img {
    width: 25%;
    height: 25%;
    display: inline;
    margin: 10px 0;
    border-radius: 50%;
}

.single-carousel span {
    color: #ccc;
}


@media screen and (max-width: 760px) {
    .differential-single{
        width: 100%;
        margin-bottom: 20px;
    }
    .menu {
        display: none;
    }
    .logo{
        width: 20%;
    }
    .menu-mobile {
        width: 80%;
        text-align: right;
        display: block;
    }
    .menu-mobile i {
        cursor: pointer;
        font-size: 23px;
        margin-top: 8px;
    }
    .content-about p {
        width: 100%;
        margin: 20px 20px;
    }
}