*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

header {
    background-color: white;
    padding: 20 px 0;
    border-bottom:1px solid rgb(200, 200, 200);
}

.logo {
    color: #16507b;
}

.logo h2 {
    font-weight: normal;
    font-size: 22px;
}

.menu a {
    color: #124265;
    font-size: 14px;
    text-decoration: none;

}

.menu a:hover {
    color: #007bff;
}

.menu .btn-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 6px 12px;
    color: white;
    border-radius: 8px;
}

.menu .btn-menu:hover {
    background-color: #0064cf;
    color: white;
}